{% extends 'layout.html' %} {% block title %}{% endblock %} {% block head %} {{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='/css/claim.css') }} "> {% endblock %} {% block content %}
<div class="help">
    <br />

    <div>
        感谢您参与 EDS 空投活动，请在赞我 Telegram 群组发送你的 NEO 钱包地址，系统会自动记录，并在 15 个工作日内发放空投奖励。
    </div>

    <br />

    <div>
        Thanks for joining EDS airdrop, please send your NEO wallet address into Endorsit telegram community, our system would record
        your information automatically and we will send out the airdrop rewards within 15 working days. </div>

    <br />

    <div>
        请注意随时查看赞我 Telegram 群组置顶公告！
    </div>

    <br />

    <div>
        Please pay attention to the pinned message of Endorsit Telegram community. Thank you. </div>
</div>
<script id="claim-area-tpl" type="text/html">

</script> {% endblock %} {% block scripts %} {{ super() }}

<script>
    layui.use('claim')
</script> {% endblock %}