{% extends 'layout.html' %} {% block title %}{% endblock %} {% block head %} {{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='/css/claim.css') }} "> {% endblock %} {% block content %}
<div class="help">
    <br />
    
    <div>
    感谢你参与EXT空投活动，现在已经可以提取你的EXT了，请在电报群里发送你正确的NEO地址。系统将自动记录，并在7个工作日内给你打EXT。
    </div>

    <br />

    <div>
    Thank you for participating in the EXT airdrop. EXT distribution strating. Please submit your correct NEO address to the telegram group. After the bind is successful, you will receive your EXT within 7 working days.
    </div>

    <br />

    <div>
    请注意查看群公告的注意事项。
    </div>

    <br />

    <div>
    Please pay attention to the pinned massages in the EXT telegram group。
    </div>
</div>
<script id="claim-area-tpl" type="text/html">

</script>
{% endblock %} {% block scripts %} {{ super() }}

<script>
    layui.use('claim')
</script>

{% endblock %}
